*{
    margin:0;
    padding:0;
}
.Main {
    display:flex;
    justify-content:space-between;
    align-items: center;
    border-top-left-radius:9px;
    border: 15px solid #262626;
    background-color:#262626 ;
    color:white;
    height: 25px;
}
.color {
   background-color: greenyellow;
   height: 35px;
   border-radius: 8px;
   border: solid;
} 
.menu {
   
    display:flex;
    align-items: center;
    color:green;
}
.menu-logo {
    width:150px; 
    height:100px;
}

.logo {
   
    width: 120px;
    height: 50px;
}

.anchor-container{
    display:flex;
    gap: 30px;
}
a{
    position:relative;
    
}
a::before{
    content:'';
    position:absolute;
    top:-32px;
    left: 0px;
    right:0px;
    bottom: 0px;
    background:green;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    transform-origin:bottom left;
    transition:transform 0.1s ease-in-out;
   
}
a:hover::before {
    transform:scaleX(1);

}
a:hover{
    color: green;
   
}

.anchor {
    text-decoration:none;
    font-weight:bold;
    color:black;
}   
   
.flower {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    height: 80px;
    box-shadow: 2px 1px 2px;
}
.green{
    color:green;
}
.now{
   border:10px solid black;
   border-radius: 0px;
   padding: 5px 10px;
    color:white;
    background-color: black;
    height: 60px;
    width: 140px;
    margin-left: 290px;
    animation:slideInright 2s  ease-in-out;
    transform:translateY(-5px);
   
   
}

     

.text-group {
    margin-left:  290px;
    margin-top: 90px;
    
   
    
}

@keyframes slideInleft{
    from{
        transform:translateX(100px);
        opacity:0;
        }
        to{
            transform:translateX(-1px);
            opacity:1;
        }
    }

.text{
    font-size: 60px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    animation:slideInleft 1.5s alternate ;
    transform:translateX(-1px);

}


 
.green{
    font-size:  65px;
    color:green;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    animation:slideInleft 2s alternate ;
     transform:translateX(-1px);
}
.clamp{
    overflow:hidden;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:3;
    line-clamp:3;
    width: 700px;
    margin-left: 290px;
    font-size:20px;
    animation:slideInright 2.5s ease-in-out;
    transform:translateY(-5px);
    opacity:0.4;

}
@keyframes slideInright{
    from{
        transform:translateY(100px);
        opacity:0;
    }
    to{
        transform:translateY(-5px);
        opacity:0.5;
    }
}
.left{
    flex-direction: column;
    display:flex;
    align-items: flex-start;
    gap: 40px;
    /* background-color: pink; */
}



.picture-container{
    display:flex;
    justify-content: space-around;
    
}
.green-leaf{
    margin-right: 300px;
    animation: slideImage 1s  alternate;
    transform:translateY(0px);
}
@keyframes slideImage{
from{
    transform:translateY(200px);
    opacity:0;
}
to{
    transform:translateY(0px);
    opacity:0.2;
}
}
.parent-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gift{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}
.rose{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}
.mango{
    text-align:center;

}





    
 

   



    
    

   
   
